body {
  font-family: Arial, sans-serif;
  background-color: #dbd0b3
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: georgian inside;
}

header > img {
  width: 100px
}

ul li a {
  text-decoration: none;
  color: inherit;
}

#review {
  color: red;
  font-family: quicksand;
}
